.input-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.input-group label {
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.input-group input {
    width: 100%;
    background: #2D303E;
    border: 1px solid #393C49;
    border-radius: 8px;
    padding: 14px;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #E0E6E9;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

.input-group input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #E0E6E9;
}